$white: #FFFFFF;
$black: #000000;
$purpleMainBackground: rgba(32, 11, 96, 0.2);
$purple: #663399;
$gray: #312f2f;
$lightGray: #d3d3d3;

$durationShort: .5s;

$bold: 700;

$radiusSmall: 5px;
$radiusMedium: 10px;